<!-- esta linea indica que este html hereda su estructura de 'template_padre.html' -->
{% extends './template_padre.html' %}
<!-- cargamos estilos -->
{% load static %}
<!-- ingresamos el contenido que cambiara en las distintas paginas 'hijas' -->
{% block contenidoQueCambia %}

<h1 style="text-align: center"> Bienvenido a tienda "That's no moon!" </h1>

<h2> Formulario - Busqueda de Producto: </h2>

<form action="" method="GET">
    <p>Producto: <input type="text" name="producto" id=""></p>

</form>

{% endblock contenidoQueCambia %}